.services-page-container {
    background-color: #ececec;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}


.services-main-box{
    margin:auto;
    margin-right: 150px;
    border-width: 0px;
    width:75%;
  }

.service-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.service-content {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.service-title {
    margin-bottom: 0.5rem;
}

.service-price {
    margin-bottom: 0.5rem;
}

.service-description {
    margin-bottom: 0.5rem;
}

.price-buy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.buy-button {
    padding: 0.1rem 1rem;
    background-color: #434343;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-button-div {
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
}
.delete-button {
    padding: 0.1rem 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.save-button{
    padding: 0.1rem 1rem;
    margin-left: 0.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.discard-button{
    padding: 0.1rem 1rem;
    margin-left: 0.5rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.buy-button:hover {
    background-color: #656565;
}

.buy-button:disabled {
    background-color: #a8a8a8;
    color: #c0c0c0;
    cursor: not-allowed;
    opacity: 0.7;
}

.page-header {
    text-align: center;
}
.content-container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    flex-grow: 1;
    padding: 20px 20px 30px 50px;
    min-height: 50%;
    max-width: 300px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.parameters-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.parameters-list div {
    margin-bottom: 10px;
}

.parameters-list label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.parameters-list input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    accent-color: #030303;
}
